@{
    ViewBag.Title = "Lançamentos";
}

@using MeuDinheiro.AppMvc.ViewModels
@using MeuDinheiro.AppMvc.Extensions
@model IEnumerable<LancamentoViewModel>


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-7 col-sm-9 col-md-9 col-lg-10 col-xl-10">
                        <h5 class="text-secondary">Lançamentos</h5>
                    </div>
                    <div class="col-5 col-sm-3 col-md-3 col-lg-2 col-xl-2 text-end">
                        @{ if (this.PermitirExibicao("Lancamento", "C"))
                            {<a id="btnCadastrar" class="btn btn-success" href="@Url.Action("Cadastrar", "Lancamentos")">Cadastrar</a>}}
                    </div>
                </div>
            </div>
            <div id="listaTable" data-url="@Url.Action("ListarLancamentos", "Lancamentos")" class="card-body">
                <div class="text-center">
                    <div class="spinner-border spinner-border-lg text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Carregando...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

<input type="hidden" id="token" name="token" value="@Html.AntiForgeryTokenValue()">

@section scripts
{

@Scripts.Render("~/Content/scripts/datepicker")
@Scripts.Render("~/Content/scripts/mask_js")
@Scripts.Render("~/Content/scripts/app")
<script type="text/javascript">
    $(document).ready(function () {
        carregarLista();
    });
</script>
}